* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Gibraltar', sans-serif;
  color: #FFF;
}

@font-face {
  font-family: "Gibraltar";
  src: url("./resources/fonts/gibraltar.ttf");
}

@font-face {
  font-family: 'Gibraltar Bold';
  src: url("./resources/fonts/gibraltarbold.ttf");
}
 /* NAV */
nav {
  background-color: #111;
  height: 80px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
}
nav ul {
  margin-left: 20px;
}
nav li {
  display:inline;
  line-height: 80px;
  margin: 0px 7%;
  letter-spacing: 0.1em;
  font-size: 1.3em;
}
nav a {
  color: #FFF;
  text-decoration: none;
}
nav a:hover {
  color: #B0D9CD;
}
/* NAV */

/* INTRODUCTION */
#introduction {
  height: 895px;
  width: 100%;
  background-color: #111;
  margin-top: 4.2%;
}
#introduction img {
  margin-top: 2%;
  margin-left: 45%;
}
#introduction h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 23%;
  z-index: 1;
  font-size: 10em;
  font-family: 'Gibraltar Bold';
  letter-spacing: 0.03em;
}
/* INTRODUCTION */

/* ABOUT */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 895px;
  background-color: #191919;
  justify-items: center;
}
#about-info-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.info-container {
  height: 100%;
}
.about-info {
  width: 60%;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  padding-bottom: 12.3%;
}
.bottom-bar {
  border-bottom: 5px solid #111;
}
.about-info h2 {
  letter-spacing: 0.1em;
}
.about-info p {
  letter-spacing: 0.05em;
}
#about img {
  align-self: center;
}