/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* CSS RESET */

/* GENERAL */
body {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
/* GENERAL */

/* SEARCH BAR */
header {
    height: 150px;
    width: 100%;
    background-color: #111;
    padding-top: 5%;
}
#searchbar {
    line-height: 2rem;
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
}
#searchbutton {
    display: inline;
}
/* SEARCH BAR */

/* CONTENT */
main {
    height: 700px;
    background-color: #191919;
    padding: 0 20%;
    color: white;
    border: 1px solid #191919;
}
#head {
    margin: 2% 0;
}
#head h1 {
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
}

#head h2 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

main img {
    float: right;
}
#plot {
    display: inline-block;
    max-width: 50%;
    margin: 10%;
}
/* CONTENT */